	<footer class="footer">

		<div class="footer__wrap">

			<div class="footer__col">

				<h3 class="footer__head h5">
					Menu
				</h3>

				<ul class="footer__menu">

					<li><a href="/mission/">Mission and values</a></li>
					<li><a href="/treatments/">Treatments</a></li>
					<li><button class="button" type="button" data-modal="reserve-your-stay">Reserve your stay</button></li>
					<li><a href="/hub/">Hive Hub</a></li>

				</ul>

			</div>

			<div class="footer__col">

				<h3 class="footer__head h5">
					Locations
				</h3>

				<ul class="footer__menu">

					<li><a href="/portugal/">Portugal</a></li>
					<li><a href="/malta/">Malta</a></li>
					<li><a href="/" data-soon="(soon)">London</a></li>
					<li><a href="/" data-soon="(soon)">Byron Bay</a></li>

				</ul>

			</div>

			<div class="footer__col">

				<h3 class="footer__head h5">
					Company
				</h3>

				<ul class="footer__menu">

					<li><a href="/press/">Press</a></li>
					<li><a href="/faq/">FAQ</a></li>
					<li><a href="/contact/">Contact us</a></li>

				</ul>

			</div>

			<div class="footer__col">

				<h3 class="footer__head h5">
					Research
				</h3>

				<ul class="footer__menu">

					<li><a href="/publications/">Publications</a></li>
					<li><a href="/collaborators/">Collaborators</a></li>

				</ul>

			</div>

			<div class="footer__col footer__col--subscribe">

				<h3 class="footer__head h5">
					Subscribe to our newsletter
				</h3>

				<form action="/" class="footer__form form">

					<input type="email" name="email" class="input" placeholder="Enter your email" required="required">

					<button class="button" aria-label="Send">
						<svg width="24" height="24" viewBox="0 0 24 24">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M20.93 14.9a.5.5 0 00.7-.09l2-2.5a.5.5 0 000-.62l-2-2.5a.5.5 0 10-.77.62l1.34 1.69H.76a.5.5 0 000 1H22.2l-1.34 1.69a.5.5 0 00.07.7z"/>
						</svg>
					</button>

				</form>

				<div class="footer__social">

{% include "template/social.html" %}

				</div>

			</div>

		</div>

		<hr>

		<div class="footer__wrap">

			<ul class="footer__policy">

				<li><a href="/">Terms and conditions</a></li>
				<li><a href="/">Privacy policy</a></li>

			</ul>

			<p class="footer__copyright">
				All Rights Reserved. 2021 © Hive LTD.
			</p>

		</div>

	</footer>