{% set menu = [

	{
		name : "Батончики",
		link : ""
	},
	{
		name : "Печенья",
		link : ""
	},
	{
		name : "Сила и восстановление",
		link : "category"
	},
	{
		name : "Здоровье и красота",
		link : "about"
	},
	{
		name : "О нас",
		link : "about"
	},
	{
		name : "Отзывы",
		link : "review"
	}

] %}

					<ul class="menu">

{% for item in menu %}

						<li class="menu__item{% if item.name === title %} menu__item--current{% endif %}">

							<a href="/{{ item.link }}/" class="menu__link">
								{{ item.name }}
							</a>

						</li>

{% endfor %}

					</ul>