{% set menu = [

	{
		name : "Батончики",
		link : "chocolate-bar"
	},
	{
		name : "Печенья",
		link : "cookie"
	},
	{
		name : "Сила и восстановление",
		link : "protein-shake"
	},
	{
		name : "Здоровье и красота",
		link : "reduce"
	},
	{
		name : "О нас",
		link : "about"
	},
	{
		name : "Отзывы",
		link : "review"
	}

] %}

					<ul class="menu">

{% for item in menu %}

						<li class="menu__item{% if item.name === title %} is-current{% endif %}">

							<a href="/{{ item.link }}/" class="menu__link">
								{{ item.name }}
							</a>

						</li>

{% endfor %}

					</ul>