.accordion {

	position: relative;
	border-top: 1px solid var(--line);
	margin: 60px 0;

	@media ($smWidth) {

		margin: 48px 0;

	}

	&__item {

		border-bottom: 1px solid var(--line);

	}

	&__btn {

		cursor: pointer;

	}

	&__head {

		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.01em;
		position: relative;
		padding: 24px 0;

	}

	&__btn&__head {

		padding-right: 24px;

	}

	&__arrow {

		position: absolute;
		top: 30px;
		right: 0;

		line {

			fill: none;
			stroke: var(--color);

		}

	}

	&__body {

		overflow: hidden;
		position: relative;
		max-height: 0;
		opacity: 0;
		transition: max-height var(--transitionDefault), opacity var(--transitionDefault);

	}

	&__inner {

		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: -0.01em;
		padding-bottom: 24px;
		color: rgba(var(--colorRGB), .7);

		p + p {

			margin-top: 20px;

		}

	}

	&__item--open &__body {

		overflow: visible;
		max-height: 3000px;
		opacity: 1;

	}

	&__item--open &__arrow {

		line + line {

			display: none;

		}

	}

}