.breadcrumbs {

	margin: 44px 0;

	@media ($smWidth) {

		margin: 24px 0;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		line-height: 1.2;
		color: var(--light);

	}

	&__item {

		a {

			color: inherit;

		}

		&::after {

			margin: 0 8px 0 5px;
			content: '—';
			font-weight: 600;

		}

		&:last-child {

			a {

				cursor: text;
				text-decoration: none;

			}

			&::after {

				display: none;

			}

		}

	}

}