.col {

	margin: 60px 0;
	display: flex;
	justify-content: space-between;

	@media ($mdWidth) {

		img {

			width: auto;
			height: auto;
			max-width: 100%;

		}

	}

	@media ($smWidth) {

		display: block;

	}

	&--center {

		align-items: center;

		@media ($mdWidth) {

			display: block;

		}

		@media ($smWidth) {

			margin: 48px 0;

		}

	}

	&--center &__item {

		@media ($mdWidth) {

			width: auto;

			& + .col__item {

				margin-top: 36px;

			}

		}

		@media ($smWidth) {

			& + .col__item {

				margin-top: 48px;

			}

		}

	}

	& + & {

		padding-top: 60px;
		border-top: 1px solid var(--line);

		@media ($smWidth) {

			padding-top: 48px;

		}

	}

	&--reverse {

		flex-direction: row-reverse;

	}

	&__item {

		width: 408px;
		position: relative;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: -0.01em;

		.h3,
		.h4 {

			margin-bottom: 24px;

		}

		hr {

			margin: 36px 0;

			@media ($smWidth) {

				margin: 60px 0;

			}

		}

		p + p {

			margin-top: 20px;

		}

	}

	&--text &__item {

		width: 402px;

		@media ($mdWidth) {

			width: calc(50% - 18px);

		}

		@media ($smWidth) {

			width: auto;

			& + .col__item {

				padding-top: 60px;
				margin-top: 60px;
				border-top: 1px solid var(--line);

			}

		}

	}

	&__figure {

		figcaption {

			margin-top: 12px;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: -0.01em;
			opacity: 0.5;

		}

	}

}