.footer {

	flex-shrink: 0;
	position: relative;
	background-image: var(--grad);

	@media ($mdWidth) {

		.center {

			width: 100%;

		}

	}

	&__top {

		padding: 70px 0;

		@media ($mdWidth) {

			padding-bottom: 30px;

		}

		@media ($smWidth) {

			padding: 24px 0 56px;
			background-color: var(--pink_f);

		}

	}

	&__logo {

		@media ($smWidth) {

			margin-bottom: 20px;

			img {

				width: auto;
				height: 36px;

			}

		}

	}

	&__copyright {

		padding: 25px 0;
		color: var(--light);
		font-size: 12px;
		line-height: 14px;
		background-color: var(--pink_f);

		@media ($smWidth) {

			padding: var(--space) 0;
			background-image: var(--grad);

		}

		@media ($xsWidth) {

			font-size: 11px;

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			flex-wrap: wrap;

		}

		@media ($smWidth) {

			display: block;

		}

	}

	&__col {

		flex-basis: 40%;

		&--contact {

			flex-basis: 60%;
			display: flex;
			justify-content: space-between;

			@media ($smWidth) {

				flex-wrap: wrap;
				max-width: 500px;
				margin-top: 12px;

			}

		}

		@media ($mdWidth) {

			margin-bottom: 40px;

		}

		@media ($smWidth) {

			margin-bottom: 0;

		}

	}

	&__contact {

		@media ($mdWidth) {

			padding-right: var(--space);

		}

		@media ($smWidth) {

			margin-top: 12px;

		}

		svg {

			fill-rule: evenodd;

			@media ($smWidth) {

				width: 24px;
				height: 24px;

			}

		}

		&-link {

			font-weight: 600;
			font-size: 26px;
			margin: 22px 0;
			--pink: var(--color);

			@media ($smWidth) {

				font-size: 18px;
				line-height: 25px;
				margin: 12px 0;

			}

		}

	}

	&__menu {

		font-size: 12px;
		line-height: 16px;

		li {

			margin-top: 20px;

			@media ($smWidth) {

				margin-top: 12px;

			}

		}

		a {

			color: var(--med);
			text-decoration: underline;
			transition: var(--transitionDefault);

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

}