fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	appearance: none;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 44px;
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	font-weight: 600;
	color: var(--bg);
	border-radius: 6px;
	text-transform: uppercase;
	background-color: var(--pink);

	@media ($desktop) {

		&:hover {

			/* color: var(--color); */
			/* background-color: var(--ligth); */

		}

	}

	@media ($mdWidth) {


	}

	&:disabled {



	}

	&--light {

		color: var(--color);
		background-color: var(--pink_d);

		@media ($desktop) {

			&:hover {

				/* background-color: var(--ligth); */

			}

		}

	}

}

.input {

	height: 40px;
	line-height: 20px;
	padding: 8px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: #fff;
	border: 2px solid #fff6f5;
	border-radius: 6px;
	transition: var(--transitionDefault);

	textarea& {

		height: 96px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: #bbc0c6 transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 3px;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: #bbc0c6;

		}

	}

	@media ($desktop) {

		font-size: 14px;

	}

	&::placeholder {

		color: var(--med);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		box-shadow: inset 0 0 0 100px #fff;

	}

	&:hover {

	}

	&:focus {

		outline: none;
		border-color: var(--pink);

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		border-color: color(var(--error) a(50%));

	}

	&:invalid {

		box-shadow: none;

	}

}

.checkbox {

	display: flex;

	&__control {

		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;

	}

	&__input {

		position: absolute;
		width: 14px;
		height: 14px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		user-select: none;
		padding-left: 24px;

		&::after {

			width: 10px;
			height: 10px;
			left: 0;
			top: 0;
			background-color: #fff;
			border-radius: 2px;
			border: 2px solid var(--border);
			content: '';
			position: absolute;
			background-position: center;

		}

	}

	&__input:checked + &__label::after {

		border-color: var(--pink);
		background-color: var(--pink);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M9.72 11.3a1 1 0 10-1.41 1.42l2 2a1 1 0 001.4 0l4-4a1 1 0 10-1.4-1.41L11 12.6l-1.3-1.3z'/%3E%3C/svg%3E");

	}

}
