.form-search {

	position: relative;

	@media ($smWidth) {

		.form-search-show & {

			flex-grow: 1;

		}

	}

	&__input {

		border-color: #fff;
		border-width: 1px;
		height: 32px;
		padding: 4px 12px;

		&:focus {

			border-color: var(--pink_d);

		}

		@media ($desktop) {

			font-size: 14px;

		}

		@media ($smWidth) {

			display: none;

			.form-search-show & {

				display: block;

			}

		}

	}

	&__submit {

		position: absolute;
		width: 56px;
		height: 32px;
		top: 0;
		right: 0;
		background-color: var(--pink);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;

		svg {

			fill: #fff;

		}

		@media ($smWidth) {

			display: none;
			width: 52px;

			.form-search-show & {

				display: flex;

			}

		}

	}

	&__show-form {

		display: none;

		@media ($smWidth) {

			display: block;

			.form-search-show & {

				display: none;

			}

		}

	}

}