fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	appearance: none;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 43px;
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	font-weight: 800;
	color: var(--bg);
	border-radius: 6px;
	text-transform: uppercase;
	background-color: var(--pink);

	@media ($desktop) {

		&:hover {

			/* color: var(--color); */
			/* background-color: var(--ligth); */

		}

	}

	@media ($mdWidth) {


	}

	&:disabled {



	}

	&--light {

		color: var(--color);
		background-color: var(--pink_d);

		@media ($desktop) {

			&:hover {

				/* background-color: var(--ligth); */

			}

		}

	}

}

.input {

	height: 40px;
	line-height: 20px;
	padding: 10px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: #fff;
	border: 2px solid var(--border);
	border-radius: 3px;

	textarea& {

		height: 96px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: #bbc0c6 transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 3px;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: #bbc0c6;

		}

	}

	@media ($desktop) {

		font-size: 14px;

	}

	&::placeholder {

		color: var(--grey);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:hover {

	}

	&:focus {

		outline: none;
		border-color: var(--blue);

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		border-color: color(var(--error) a(50%));

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}