.header {

	position: relative;
	z-index: 7;
	padding: 15px var(--space);
	flex-shrink: 0;
	background-image: var(--grad);

	&--home {

		background-image: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

	}

	.center {

		@media ($lgWidth) {

			width: 100%;

		}

		@media ($mdWidth) {

			padding: 0;

		}

	}

	@media ($smWidth) {

		padding: 0;

	}

	&__wrap {

		display: flex;

		@media ($smWidth) {

			flex-wrap: wrap;

		}

	}

	&__logo {

		flex-shrink: 0;
		margin-right: 90px;

		@media ($mdWidth) {

			margin-right: 48px;

		}

		@media ($smWidth) {

			margin: 18px var(--space) 22px;

			img {

				width: 82px;
				height: 32px;

			}

			.form-search-show & {

				display: none;

			}

		}

	}

	&__search {

		flex-grow: 1;
		margin: 15px 0;

		@media ($smWidth) {

			margin: 24px 68px 22px 0;
			display: flex;
			justify-content: flex-end;

			.form-search-show & {

				flex-grow: 1;
				margin: 18px var(--space) 22px;

			}

		}

		@media ($xsWidth) {

			margin-right: 56px;

		}

	}

	&__contacts {

		margin-left: 94px;
		flex-shrink: 0;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			margin-left: 48px;

		}

		@media ($smWidth) {

			display: none;
			margin: 0;
			padding: 18px var(--space);
			width: 100%;
			background-image: var(--grad);

		}

	}

	&__instagram {

		svg {

			fill-rule: evenodd;

			@media ($smWidth) {

				margin-right: 8px;

			}

			@media ($xsWidth) {

				margin-right: 4px;

			}

		}

		&-text {

			display: none;

			@media ($smWidth) {

				display: block;
				color: var(--color);

			}

		}

		@media ($smWidth) {

			display: flex;
			align-items: center;

			font-weight: 600;
			font-size: 12px;
			line-height: 16px;

		}

	}

	&__phone {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		margin-left: 18px;
		color: var(--color);

		@media ($xsWidth) {

			margin-left: auto;

			svg {

				margin-right: 4px;

			}

		}

		svg {

			margin-right: 8px;

		}

		@media ($smWidth) {

			font-size: 12px;
			line-height: 16px;
			margin-left: 28px;

		}

	}

	&__menu {

		margin: 10px 0;

		@media ($smWidth) {

			display: none;
			margin: 0;

		}

	}

}

.btn-menu-toggle {

	display: none;

	@media ($smWidth) {

		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 24px;
		right: var(--space);

		.form-search-show & {

			display: none;

		}

		&__line {

			position: absolute;
			width: 18px;
			height: 2px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: var(--pink);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);

			.menu-show & {

				&--top {

					bottom: 0;
					transform: rotate(-225deg);
					background-color: var(--med);

				}

				&--center {

					opacity: 0;
					transform: rotate(-360deg);
					background-color: var(--med);

				}

				&--bottom {

					top: 0;
					transform: rotate(-315deg);
					background-color: var(--med);

				}

			}

			&--top {

				bottom: 10px;

			}

			&--center {


			}

			&--bottom {

				top: 10px;

			}

		}

	}

	@media ($xsWidth) {

	}

}

@media ($smWidth) {

	.menu-show {

		background-image: var(--grad);

		.main,
		.footer {

			display: none;

		}

		.header {

			&__wrap {

				background-color: #fff;

			}

			&__search {

				display: none;

			}

			&__contacts {

				display: flex;

			}

			&__menu {

				display: block;

			}

		}

	}

}