.header {

	position: relative;
	z-index: 7;
	padding: 15px 0;
	flex-shrink: 0;
	background-image: var(--grad);

	&--home {

		background-image: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

	}

	@media ($mdWidth) {


	}

	@media ($smWidth) {


	}

	@media ($xsWidth) {

	}

	&__wrap {

		display: flex;

	}

	&__logo {

		flex-shrink: 0;
		margin-right: 90px;

	}

	&__search {

		flex-grow: 1;
		margin: 15px 0;

	}

	&__contacts {

		margin-left: 94px;
		flex-shrink: 0;
		display: flex;
		align-items: center;

	}

	&__instagram {

		svg {

			fill-rule: evenodd;

		}

	}

	&__phone {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		margin-left: 18px;
		color: var(--color);

		svg {

			margin-right: 8px;

		}

	}

	&__menu {

		margin: 10px 0;

		@media ($mdWidth) {

			display: none;

		}

	}

}

.btn-menu-toggle {

	display: none;

	@media ($mdWidth) {

		display: block;
		width: 28px;
		height: 28px;
		position: absolute;
		top: 28px;
		left: 0;

		&__line {

			position: absolute;
			width: 24px;
			height: 1px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: var(--color);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);

			.menu-show & {

				&--top {

					bottom: 0;
					transform: rotate(-225deg);

				}

				&--center {

					opacity: 0;
					transform: rotate(-360deg);

				}

				&--bottom {

					top: 0;
					transform: rotate(-315deg);

				}

			}

			&--top {

				bottom: 12px;

			}

			&--center {


			}

			&--bottom {

				top: 12px;

			}

		}

	}

	@media ($smWidth) {

		width: 24px;
		height: 24px;
		top: 24px;

	}

	@media ($xsWidth) {

		top: 16px;

	}

}

@media ($mdWidth) {

	.menu-show {

		.main,
		.footer {

			display: none;

		}

		.header {

			&__menu {

				display: block;

			}

		}

	}

}