.list-sep {

	@media ($desktop) {

		.col--center & {

			li {

				max-width: 360px;

				& + li {

					margin-top: 16px;
					padding-top: 16px;

				}

			}

		}

	}

	& > li + li,
	&__item + &__item {

		border-top: 1px solid var(--line);
		padding-top: 12px;
		margin-top: 12px;

	}

}

.list-disk {

	margin: 12px 0;

	& > li {

		padding-left: 36px;

		&::before {

			position: absolute;
			top: 0;
			left: 12px;
			content: '•';

		}

	}

}

.list-decimal {

	counter-reset: headings 0;

	li {

		padding-left: 24px;

		&::before {

			counter-increment: headings 1;
			content: counter(headings, decimal);
			color: var(--dark);
			position: absolute;
			top: 0;
			left: 0;

		}

		a {

			color: var(--dark);
			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

}