.page-home {

	position: relative;
	margin: -121px calc(var(--indent) * -1);
	flex-grow: 1;
	z-index: 1;
	background-color: var(--ligth);

	display: flex;
	align-items: center;
	justify-content: center;

	@media ($smWidth) {

		margin-top: -73px;
		margin-bottom: -97px;

	}

	&__inner {

		max-width: calc(720px + var(--indent) + var(--indent));
		padding: 120px var(--indent);

		z-index: 1;
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {

			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: -0.01em;
			margin: 24px 0;

		}

		@media ($smWidth) {

			padding: 72px var(--indent) 96px;

		}

	}

	&__bg {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;

	}

}