.page-publications {

	&__box {

		display: flex;
		flex-wrap: wrap;
		margin: -24px;

		@media ($mdWidth) {

			margin: -12px;

		}

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__item {

		margin: 24px;
		width: 408px;

		@media ($mdWidth) {

			width: calc(50% - 24px);
			margin: 12px;

		}

		@media ($smWidth) {

			margin: 12px auto;
			max-width: 100%;
			width: 408px;

		}

	}

	&__img {

		display: block;
		margin-bottom: 36px;

		@media ($mdWidth) {

			img {

				max-width: 100%;
				height: auto;

			}

		}

	}

	&__autor {

		font-size: 12px;
		line-height: 20px;
		font-style: normal;
		letter-spacing: 0.081em;
		text-transform: uppercase;
		color: var(--dark);

	}

	&__text {

		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.01em;
		margin-bottom: 12px;

	}

}