.page {

	margin: var(--indent) auto;

	@media ($smWidth) {

		margin-top: 40px;

	}

	.breadcrumbs + & {

		margin-top: 0;

	}

	.breadcrumbs + & &__title {

		margin: 0;

	}

	&__title {

		margin: 52px 0;

		@media ($smWidth) {

			margin: 22px 0;

		}

	}

	&__stars {

		display: flex;
		align-items: center;
		margin: 12px 0;

	}

	&__review {

		font-size: 12px;
		color: var(--pink);

	}

}


.h1 {

	font-weight: 600;
	font-size: 58px;
	line-height: 1.2;

	@media ($mdWidth) {

		font-size: 30px;

	}

	@media ($smWidth) {

		font-size: 20px;

	}

}

.h2 {

	font-weight: 600;
	font-size: 36px;
	line-height: 1.2;

	@media ($mdWidth) {

		font-size: 28px;

	}

	@media ($smWidth) {

		font-size: 20px;

	}

}

.h3 {

	font-weight: 600;
	font-size: 26px;
	line-height: 36px;

}

.h4 {

	font-weight: 600;
	font-size: 20px;
	line-height: 32px;

	@media ($smWidth) {

		font-size: 14px;
		line-height: 22px;

	}

}

.h5 {

	font-weight: 600;
	font-size: 18px;
	line-height: 24px;

}