.input-pickmeup {

	position: relative;

	&:not(&--flat) &__box {

		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: -1px;
		z-index: 9;

		.pickmeup {

			background-color: var(--bg);
			padding: 12px;

		}

	}

	&:not(&--flat):not(.is-show) &__box {

		height: 0;
		overflow: hidden;
		pointer-events: none;

	}

	&__input {

		opacity: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		appearance: none;
		pointer-events: none;

	}

	&__value {

		display: block;
		line-height: 19px;
		padding: 12px 0;
		font-size: 14px;
		font-weight: 300;
		color: rgba(var(--colorRGB), .4);
		position: relative;
		border-bottom: 1px solid var(--border);
		background-color: #fff;
		background-position: right;
		background-repeat: no-repeat;
		letter-spacing: -0.01em;
		cursor: pointer;

		&::after {

			position: absolute;
			width: 20px;
			height: 20px;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
			opacity: .4;
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M15.5 2.5h3.33a.83.83 0 01.84.83v13.34a.83.83 0 01-.84.83h-15a.83.83 0 01-.83-.83V3.33a.83.83 0 01.83-.83h3.34V.83h1.66V2.5h5V.83h1.67V2.5zm-1.67 1.67h-5v1.66H7.17V4.17h-2.5V7.5H18V4.17h-2.5v1.66h-1.67V4.17zm4.17 5H4.67v6.66H18V9.17z' stroke='%23F9F8F6' stroke-width='.7'/%3E%3C/svg%3E");

		}

		&.is-valid {

			color: var(--color);

		}

		@media ($desktop) {

			&:hover {

				color: var(--color);
				border-bottom-color: var(--color);

				&::after {

					opacity: 1;

				}

			}

		}
/*
		@media ($mdWidth) {

			pointer-events: none;

		} */

	}

}

.pickmeup {

	position: absolute;
	touch-action: manipulation;
	z-index: 9;

	&.pmu-flat {

		position: relative;
		z-index: 1;

	}

	&.pmu-hidden {

		display: none

	}

	.pmu-instance {

		text-align: center;
		border: 1px solid var(--border);
		padding: 24px;

		&:first-child .pmu-month,
		&:last-child .pmu-month,
		&:first-child:last-child .pmu-month {

			flex-grow: 1;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			letter-spacing: -0.01em;

		}

		& + .pmu-instance {

			margin-top: 12px;

		}

	}

	.pmu-head {

		display: flex;

		.pmu-prev,
		.pmu-next {

			flex-shrink: 0;
			position: relative;

			&::before {

				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				content: '';

			}

		}

		.pmu-month {

			flex-grow: 1;

		}

	}

	.pmu-day-of-week {

		display: flex;
		margin: 22px 0 12px;
		justify-content: space-between;

		div {

			width: 20px;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: -0.01em;

		}

	}

	.pmu-button {

		cursor: pointer;
		outline: none;
		text-decoration: none

	}

	.pmu-td {

		width: 20px;
		height: 20px;
		position: relative;
		flex-shrink: 0;

		.pmu-button {

			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		&--range {

			&::before {

				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				content: '';
				opacity: .5;
				background-color: var(--ligth);

			}

			& + .pmu-sep {

				opacity: 1;

			}

			&-end {

				color: #fff;

				&::before {

					opacity: 1;
					background-color: var(--color);

				}

				& + .pmu-sep {

					opacity: 0;

				}

			}

		}

		&--selected {

			color: #fff;

			&::before {

				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				content: '';
				opacity: 1;
				background-color: var(--color);

			}

		}

		&--not-in-month {

			opacity: 0;
			pointer-events: none;

		}

	}

	.pmu-sep {

		flex-grow: 1;
		position: relative;
		opacity: 0;
		pointer-events: none;

		&::before {

			position: absolute;
			top: -5px;
			left: 5px;
			right: 5px;
			bottom: -5px;
			content: '';
			opacity: 0.5;
			background-color: var(--ligth);

		}

		&--w100 {

			width: 100%;
			height: 12px;
			margin: 0;
			opacity: 0 !important;

		}

	}

	.pmu-days {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: -0.01em;

		.pmu-button:hover {



		}

	}

	.pmu-not-in-month {

		opacity: .5;

	}

	.pmu-selected {

		opacity: 1;

	}

	.pmu-today {

	}

	.pmu-disabled {

		opacity: .3;
		pointer-events: none;

		&.pmu-not-in-month {

			opacity: 0;

		}

	}

	&.pmu-view-days .pmu-months,
	&.pmu-view-days .pmu-years,
	&.pmu-view-months .pmu-days,
	&.pmu-view-months .pmu-years,
	&.pmu-view-months .pmu-day-of-week,
	&.pmu-view-years .pmu-day-of-week,
	&.pmu-view-years .pmu-months,
	&.pmu-view-years .pmu-days {

		display: none

	}

	.pmu-years,
	.pmu-months {

		display: flex;
		flex-wrap: wrap;
		margin: 24px 0;

		.pmu-button {

			width: 25%;
			line-height: 60px;

		}

	}


}