.product-list {

	display: flex;
	flex-wrap: wrap;
	margin: -18px -16px;

	@media ($smWidth) {

		display: block;
		margin: 0;

	}

	.swiper-cards & {

		margin: 0;
		flex-wrap: nowrap;

	}

	.swiper-cards &__item {

		box-shadow: 4px 0 4px rgba(155, 155, 184, 0.08), 0 4px 4px rgba(155, 155, 184, 0.08), 0 0 16px rgba(155, 155, 184, 0.16);
		width: auto;
		margin: 0;

	}

	&__item {

		margin: 18px 16px;
		width: calc( (100% - 32px * 3) / 3 );
		display: flex;
		flex-direction: column;
		border-radius: 12px;
		position: relative;
		box-shadow: 4px 0 4px rgba(155, 155, 184, 0.08), 0 4px 4px rgba(155, 155, 184, 0.08), 0 0 49px rgba(155, 155, 184, 0.16);

		@media ($mdWidth) {

			width: calc( (100% - 32px * 2) / 2 );

		}

		@media ($smWidth) {

			margin: 16px 0;
			width: auto;

		}

	}

	&__img {

		height: 384px;
		flex-shrink: 0;

		@media ($mdWidth) {

			height: auto;

			img {

				width: 100%;

			}

		}

		img {

			border-radius: 12px 12px 0 0;
			max-width: 100%;
			height: auto;

		}

	}

	&__body {

		padding: 26px 18px;
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;

		@media ($smWidth) {

			padding: 18px 16px;

		}

	}

	&__link {

		color: var(--color);

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 1;

		}

	}

	&__row {

		display: flex;
		flex-wrap: wrap;
		align-items: baseline;

	}

	&__price {

		font-family: 'Playfair Display';
		font-weight: 900;
		font-size: 28px;
		line-height: 37px;
		color: var(--pink);
		display: flex;
		align-items: baseline;

		&::after {

			content: '₽';
			margin-left: 6px;
			font-size: 20px;

		}

		&-old {

			font-size: 12px;
			color: var(--light);
			margin: 0 14px;
			text-decoration: line-through;

			&::after {

				content: '₽';

			}

		}

	}

	&__sale {

		font-size: 12px;
		line-height: 23px;
		color: var(--pink);
		padding: 0 10px;
		border: 2px solid var(--pink_f);
		border-radius: 6px;

		@media ($smWidth) {

			margin-left: auto;

		}

	}

	&__name {

		margin: 26px 0 10px;

		@media ($smWidth) {

			margin: 18px 0 10px;

		}

	}

	&__stars {

		display: flex;
		align-items: center;
		margin-top: auto;

	}

	&__review {

		color: var(--med);
		font-size: 11px;

	}

}