.review-swiper {

	margin: var(--indent) 0;

	&__title {

		text-align: center;
		margin-bottom: 40px;

	}

	&__wrap {

		margin: 0 -16px;
		position: relative;

		.swiper-controls {

			@media (min-width: 1300px) {

				left: -24px;
				right: -24px;

			}

			@media (min-width: 1336px) {

				left: -36px;
				right: -36px;

			}

			@media (min-width: 1440px) {

				left: -86px;
				right: -86px;

			}

		}

	}

	&__item {

		width: 416px !important;
		display: flex;

	}

	&__inner {

		box-shadow: 0px 0px 16px rgba(155, 155, 184, 0.16);
		border-radius: 12px;
		padding: 32px 26px;
		margin: 16px;

	}

	&__head {

		display: flex;
		margin-bottom: 14px;
		align-items: center;

	}

	&__img {

		width: 76px;
		height: 76px;
		flex-shrink: 0;
		margin-right: 22px;

		img {

			border-radius: 50%;

		}

	}

	&__stars {

		margin: 6px 0 4px;

	}

	&__text {

		font-size: 14px;
		line-height: 22px;
		color: var(--light);

	}

	&__all {

		margin-top: 20px;
		display: flex;
		justify-content: center;
		font-size: 16px;
		line-height: 24px;

		a {

			text-decoration: underline;
			color: var(--pink);

			&:hover {

				text-decoration: none;

			}

		}

	}

}