.shops {

	overflow: hidden;

	&__box {

		position: relative;
		padding: 128px 0 96px;
		display: flex;
		justify-content: flex-end;

		&::before {

			position: absolute;
			width: 1328px;
			top: 0;
			left: 0;
			bottom: 0;
			transform: scale(-1);
			background-image: var(--grad);
			border-bottom-right-radius: 436px;
			content: '';

		}

	}

	&__inner {

		width: 830px;
		padding-left: 30px;
		position: relative;

		&::before {

			position: absolute;
			width: 496px;
			height: 161px;
			top: 0;
			right: 100%;
			bottom: 30px;
			margin: auto;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='496' height='161' viewBox='0 0 496 161'%3E%3Cmask id='a' width='708' height='161' x='-212' y='0' maskUnits='userSpaceOnUse'%3E%3Cpath fill='%23FFE1EB' d='M-35 0h28.5l60.56 80.5L-6.5 161H-35l60.56-80.5L-34.99 0zM230.02 0h28.5l60.55 80.5L258.5 161h-28.5l60.56-80.5L230.02 0z'/%3E%3Cpath fill='%23FFE1EB' d='M53.34 0h28.5l60.55 80.5L81.84 161h-28.5l60.56-80.5L53.34 0zM318.35 0h28.5l60.55 80.5-60.55 80.5h-28.5l60.56-80.5L318.35 0z'/%3E%3Cpath fill='%23FFE1EB' d='M141.68 0h28.5l60.55 80.5-60.55 80.5h-28.5l60.55-80.5L141.68 0zM406.69 0h28.5l60.55 80.5-60.56 80.5H406.7l60.55-80.5L406.7 0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23FFE9F0' d='M498.74 0v161h-799V0z'/%3E%3C/g%3E%3C/svg%3E");

		}

	}

	&__title {

		margin-bottom: 30px;

		span {

			display: block;
			color: var(--pink);
			font-family: 'Playfair Display';
			font-size: 58px;
			font-weight: 900;
			line-height: 70px;

		}

	}

	&__list {

		display: flex;
		align-items: center;

	}

	&__item {

		& + & {

			margin-left: 118px;

		}

	}

}