.sort {

	margin: 36px 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	@media ($smWidth) {

		margin: 18px 0;
		justify-content: flex-end;

	}

	&__head {

		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		margin-right: 22px;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__btn {

		@media ($desktop) {

			display: none;

		}

		@media ($mdWidth) {

			display: flex;
			align-items: flex-end;
			font-size: 14px;
			line-height: 20px;
			color: var(--light);

			svg {

				fill: var(--light);
				margin-left: 8px;

			}

		}

	}

	&__list {

		@media ($desktop) {

			display: flex;
			flex-wrap: wrap;
			margin: -11px;

		}

		@media ($mdWidth) {

			position: absolute;
			top: 100%;
			z-index: 5;
			right: 0;
			padding: 8px 0px;
			background-color: #fff;
			box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
			border-radius: 3px;
			transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;
			opacity: 0;
			pointer-events: none;

		}

	}

	&--open &__list {

		@media ($mdWidth) {

			opacity: 1;
			pointer-events: auto;
			transform: translate3d(0, 8px, 0);

		}

	}

	&__right {

		margin-left: auto;
		height: 20px;

		.checkbox-dropdown {

			margin-top: -10px;
			width: 314px;

		}

	}

	&__item {

		@media ($desktop) {

			margin: 11px;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			cursor: pointer;
			user-select: none;

		}

		@media ($mdWidth) {

			font-size: 14px;
			line-height: 20px;
			color: var(--med);
			position: relative;
			display: block;

		}

	}

	&__input[type="radio"]:checked + &__label {

		@media ($desktop) {

			--med: var(--pink);
			pointer-events: none;

		}

		@media ($mdWidth) {

			color: var(--color);
			background-color: var(--pink_l);

		}

	}

	&__label {

		@media ($desktop) {

			display: block;
			color: var(--med);

			&:hover {

				--med: var(--color);

			}

		}

		@media ($mdWidth) {

			display: block;
			padding: 6px 16px;

		}

	}

	&__input[type="checkbox"] + &__label {

		padding-left: 24px;
		font-weight: 400;

		&::before {

			width: 10px;
			height: 10px;
			left: 0;
			top: 4px;
			background-color: #fff;
			border-radius: 2px;
			border: 2px solid var(--border);
			content: '';
			position: absolute;
			background-position: center;

		}

	}

	&__input[type="checkbox"]:checked + &__label::before {

		border-color: var(--pink);
		background-color: var(--pink);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M9.72 11.3a1 1 0 10-1.41 1.42l2 2a1 1 0 001.4 0l4-4a1 1 0 10-1.4-1.41L11 12.6l-1.3-1.3z'/%3E%3C/svg%3E");

	}

}