.swiper-cards {

	margin: 0 -16px;
	position: relative;

	@media ($smWidth) {

		padding-bottom: 30px;
		margin: 0 calc(var(--space) * -1) 20px;

	}

	&:not(.swiper-container-style) .swiper-controls {

		display: none;

	}

	.swiper-controls {

		left: -32px;
		right: -32px;

		@media (min-width: 1300px) {

			left: -44px;
			right: -44px;

		}

		@media (min-width: 1440px) {

			left: -86px;
			right: -86px;

		}

		@media ($smWidth) {

			left: 0;
			right: 0;

		}

	}

	&:not(.swiper-container-style) &__list {

		display: flex;
		overflow: hidden;

	}

	&__item {

		width: calc(100% / 3);
		padding: 16px;
		display: flex;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 50%;

		}

		@media ($smWidth) {

			width: 100%;
			padding: 16px var(--space);

			.review-swiper {

				padding: 16px 46px;

				&.swiper-slide {

					transition: var(--transitionDefault);

					&.swiper-slide-prev {

						filter: blur(1px);
						transform: scale(.9) translate3d(100px, 0, 0);

					}

					&.swiper-slide-next {

						filter: blur(1px);
						transform: scale(.9) translate3d(-100px, 0, 0);

					}

				}

			}

		}

		@media ($xsWidth) {

			.review-swiper {

				padding: 16px 26px;

				&.swiper-slide {

					&.swiper-slide-prev {

						transform: scale(.9) translate3d(60px, 0, 0);

					}

					&.swiper-slide-next {

						transform: scale(.9) translate3d(-60px, 0, 0);

					}

				}

			}

		}

	}

}