.swiper-cards {

	margin: 0 -16px;
	position: relative;

	&:not(.swiper-container-style) .swiper-controls {

		display: none;

	}

	.swiper-controls {

		@media (min-width: 1300px) {

			left: -24px;
			right: -24px;

		}

		@media (min-width: 1336px) {

			left: -36px;
			right: -36px;

		}

		@media (min-width: 1440px) {

			left: -86px;
			right: -86px;

		}

	}

	.swiper-pagination {

		display: none;

		@media ($smWidth) {

			display: block;

		}

	}

	&:not(.swiper-container-style) &__list {

		display: flex;
		overflow: hidden;

	}

	&__item {

		width: 416px !important;
		padding: 16px;
		display: flex;
		flex-shrink: 0;

	}

}