.tabs {

	position: relative;

	&__item:not(.is-active) {

		height: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		pointer-events: none;
		left: 0;
		right: 0;

	}

	&__nav {


		margin: 36px 0;

		@media ($smWidth) {

			margin: 24px 0 14px;
			margin-left: calc(var(--indent) * -1);
			margin-right: calc(var(--indent) * -1);
			padding: 0 var(--indent) 10px;

		}

		&-inner {

			display: flex;

		}

	}

	&__btn {

		font-size: 12px;
		line-height: 20px;
		height: 24px;
		letter-spacing: 0.081em;
		text-transform: uppercase;
		color: var(--color);
		border-bottom: 1px solid transparent;

		&.is-active {

			border-bottom: 1px solid;
			color: var(--dark);

		}

		& + & {

			margin-left: 30px;

			@media ($smWidth) {

				margin-left: 20px;

			}

		}

	}

}