:root {

	--color: #073f5f;
	--bg: #fff;
	--green: green;
	--pink: #ee3675;
	--pink_d: #ffdfe9;
	--pink_f: #ffe9f0;
	--border: #fff6f5;
	--error: red;
	--transitionDefault: 0s;
	--light: #637ca0;
	--med: #a1b4d0;
	--grad: linear-gradient(303deg, #feeff4 10%, #fffbf5 90%);

	--indent: 105px;

}

$desktop: (min-width: 1250px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 727px);
$xsWidth: (max-width: 359px);

.color-pink {

	color: var(--pink);

}
.color-med {

	color: var(--med);

}