{% set title = "Hive is at the epicenter of where luxury and science come together" %}

{% set description = "We are creating access to life changing integrated therapies for mental, emotional and physical health around the world" %}

{% set headerMod = "home" %}

{% set preloadImage = [
	{
		media: "(max-width: 360px)",
		img : "/img/main/swiper/l-carnitine--563x751.webp"
	},
	{
		media: "(min-width: 361px) and (max-width: 1249px)",
		img : "/img/main/swiper/l-carnitine--563x751.webp"
	},
	{
		media: "(min-width: 1250px)",
		img : "/img/main/swiper/l-carnitine--563x751.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/swiper.html" %}
{% include "main/category-cards.html" %}
{% include "main/shops.html" %}
{% include "main/review.html" %}
{% include "main/form.html" %}

{% endblock %}