{% set title = "Название страницы, до 100 символов" %}

{% set description = "Описание страницы, 150 - 255 символов" %}

{% set headerMod = "home" %}

{% set preloadImage = [
	{
		media: "(max-width: 360px)",
		img : "/img/main/swiper/l-carnitine--294x392.webp"
	},
	{
		media: "(min-width: 361px) and (max-width: 1249px)",
		img : "/img/main/swiper/l-carnitine--1126x1502.webp"
	},
	{
		media: "(min-width: 1250px)",
		img : "/img/main/swiper/l-carnitine--563x751.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/swiper.html" %}
{% include "main/category-cards.html" %}
{% include "main/shops.html" %}
{% include "main/review.html" %}
{% include "main/form.html" %}

{% endblock %}