	<div class="param" id="param">

		<h2 class="param__title h2">
			Характеристики
		</h2>

		<h3 class="param__head h5">
			Общие характеристики
		</h3>

		<div class="param__column">

			<dl class="param__list">

				<div class="param__item">

					<dt class="param__dt">
						Количество предметов в упаковке
					</dt>

					<dd class="param__dd">
						10 шт
					</dd>

				</div>

			</dl>

		</div>

{% set list = [

	{
		key : "Добавки",
		value : "без добавок; без искусственных добавок; без ароматизаторов; без ГМО; без красителей"
	},
	{
		key : "Упаковка",
		value : "Коробка"
	},
	{
		key : "Пищевая ценность углеводы",
		value : "12 г/100г"
	},
	{
		key : "Пищевая ценность жиры",
		value : "32 г/100г"
	},
	{
		key : "Вес товара с упаковкой (г)",
		value : "550 г"
	},
	{
		key : "Вес товара без упаковки (г)",
		value : "500 г"
	},
	{
		key : "Энергетическая ценность калории (на 100 гр.)",
		value : "170 ккал"
	},
	{
		key : "Пищевая ценность белки",
		value : "32 г/100г"
	},
	{
		key : "Глубина упаковки",
		value : "12 см"
	},
	{
		key : "Высота упаковки",
		value : "10 см"
	},
	{
		key : "Вкус",
		value : "ассорти; Ассорти фруктов и ягод; ассорти вкусов"
	},
	{
		key : "Срок годности",
		value : "8 месяцев"
	},
	{
		key : "Назначение спортивного питания",
		value : "выносливость; похудение/сушка; Восстановить поврежденные мышцы; восстановление и наращивание мышечной массы; волосы и ногти; восстановление; похудение,набор мышечной массы"
	},
	{
		key : "Страна производства",
		value : "Россия"
	},
	{
		key : "Комплектация",
		value : "10 штук в индивидуальной упаковке"
	}

] %}

		<h3 class="param__head h5">
			Дополнительная информация
		</h3>

		<div class="param__column">

{% for item in list %}

			<dl class="param__list">

				<div class="param__item{% if item.value.length > 20 %} param__item--big{% endif %}">

					<dt class="param__dt">
						{{ item.key }}
					</dt>

					<dd class="param__dd">
						{{ item.value }}
					</dd>

				</div>

			</dl>

{% endfor %}

		</div>

	</div>